/* FONTS AND THINGS */

.sansserif {
  font-family: sans-serif;
}



/* NAVIGATION BAR */ 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
 
}
ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Search bar */



/* Subnavigation */




/* IMAGES */

	figure img {
		width: 100%;
	}
  	figure {
		margin: 0;
	}
	figure iframe {
		width: 100%;
	}

  /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;

}

/* HOME */

/* Centered text for home page */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* JOURNAL */

/* Centered text for journal page */
.centeredjournal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #73A900;

}

/* Under centered text */
.belowcenteredjournal {
  position: absolute;
  top: 59%;
  left: 47.5%;
  transform: translate(-50%, -50%);
}

/* Journal explanation para */
.journaltitlecontent {
position: absolute;
top: 72%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
width: 65%;
}

/* Volume number */
.volumenumber {
position: absolute;
top: 100%;
left: 20%;
transform: translate(-50%, -50%);
text-align: left;
}

/* Volume content */
.volumecontent5 {
position: absolute;
top: 110%;
left: 48%;
transform: translate(-80%, -80%);
text-align: left;

}



/* BUTTONS ON IMAGE */

.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .donatebutton {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 20px;
  padding: 12px 82px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

.container .donatebutton:hover {
  background-color: black;
}
.container .subscribebutton {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #73A900;
  color: white;
  font-size: 20px;
  padding: 12px 72px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

.container .subscribebutton:hover {
  background-color: black;
}



/* IMAGE CAROUSEL */

* {box-sizing:border-box}

/* carousel container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* hide the images */
.mySlides {
  display: none;
}

/* hide the images */
.mySlides2 {
  display: none;
}

/* before & after buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* "next button" on the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* when hovered over, add a transparent black background colour */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* dots */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgb(83, 83, 83);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #73A900;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}